In [3]:
import pandas as pd
df = pd.read_csv('table_1.csv')

# Display the DataFrame
df.tail()

,Unnamed: 0,US$ FY,FY,FY.1,FY.2,FY.3,FY.4,FY.5,FY.6,FY.7,...,Unnamed: 2,FY.10,FY.11,FY.12,FY.13,FY.14,FY.15,FY.16,FY.17,FY.18
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.5,10.1,16.2,24.9,28.7,25.4,17.2,12.7,11.5
49,RONW (%)**,-15.0,13.2,13.1,12.7,15.1,16.9,16.4,16.5,13.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,ROCE (%)**,-13.3,12.7,10.6,12.0,13.5,13.6,13.5,13.0,12.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN